body {
  background: #f5f5f5; }

main {
  max-width: 1000px;
  min-height: 100vh;
  padding: 30px 16px;
  margin-left: auto;
  margin-right: auto;
  background: #fff; }

pre {
  border: 1px solid #ddd;
  padding: 10px;
  background: #f6f6f6;
  font-size: 20px;
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  margin-bottom: 1em; }

h2 {
  margin-bottom: 0.5em; }
